{"filter":false,"title":"email.tmpl","tooltip":"/email.tmpl","ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":10,"column":0},"end":{"row":10,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":60,"mode":"ace/mode/text"}},"hash":"74a9125a22cbd5ac90977af59d3c8b22b77431b1","undoManager":{"mark":-1,"position":-1,"stack":[]},"timestamp":1446926958000}